<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>sUsuario</servlet-name>
        <servlet-class>org.com.controller.ServletUsuario</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sUsuarios</servlet-name>
        <servlet-class>org.com.controller.ServletUsuarios</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sCliente</servlet-name>
        <servlet-class>org.com.controller.ServletCliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>sOrdenServicio</servlet-name>
        <servlet-class>org.com.controller.ServletOrdenServicio</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>sUsuario</servlet-name>
        <url-pattern>/sUsuario</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sUsuarios</servlet-name>
        <url-pattern>/sUsuarios</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sCliente</servlet-name>
        <url-pattern>/sCliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>sOrdenServicio</servlet-name>
        <url-pattern>/sOrdenServicio</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>
            login.jsp
        </welcome-file>
    </welcome-file-list>
</web-app>
